.question {
    color: rgb(11, 3, 41);
    font-weight: 600;
}

.keyword {
    font-weight: bold;
    letter-spacing: 2px;
}

.question-card {
    margin-top: 10px;
    padding: 5px;
}

.note-card {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}