{{- $id := (printf "q%v" .questionNr) }}
  <div class="rating">
    {{- $questionNr := .questionNr }}
    {{- $questionJson := .questionJson }}
    {{- $scala := .question.rating.scala }}
    {{- if $scala }}
        {{- $rating := 0 }}
        {{- range $scalaIdx, $scalaItem := $scala }}
            {{- $rating = (add $rating 1) }}
            {{- $id := (printf "q%v_%v" $questionNr $scalaIdx) }}
    <div class="rating rSz{{- $rating }}">
      <input type="radio" id="{{- $id }}" name="{{- $questionNr }}-rating" value="{{- $rating }}" onchange="onRatingSzChange('{{- $scalaItem }}', {{- $rating }}, {{- $questionJson }});" />
      <label class = "rating-linear" for="{{- $id }}"><span>{{- $scalaItem }}</span></label>
    </div>
        {{- end }}
    {{- end }}
  </div>