{{ define "main" }}
<h1 class="feedback">{{ .Title }}</h1>
{{ $params := .Site.Params }}
{{ $feedback := (index .Site.Data .Params.feedback) }}
{{ if .Site.Params.emailbridge }}
  {{ partial "emailbridge.html" (dict "Params" .Site.Params "feedback" $feedback) }}
{{ end }}
<div>
    {{ $groupNr := 1 }}
    {{ $questionNr := 0 }}
    {{ range $group, $questions := $feedback }}
    <div>
        {{ if $group }}
        <h2 class="group">{{ $group }}</h2>
        {{end}}
        {{ range $idx, $question := $questions }}
            {{ $questionJson := printf "fbGr%v[%v]" $groupNr $questionNr }}
            {{ $groupNr = add $groupNr 1 }}
            {{ $questionNr = add $questionNr 1 }}
            {{ partial "question.html" (dict "questionNr" $questionNr "questionJson" $questionJson "question" $question "Params" $params) }}
        {{end}}
    </div>
    {{end}}
</div>
<h2>Zusammenfassung</h2>
<div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--textarea mdc-text-field--no-label">
  <textarea class="mdc-text-field__input" rows="8" cols="40" placeholder="Die Predigt fand ich ..." aria-label="Zusammenfassung"></textarea>
  <div class="mdc-notched-outline">
    <div class="mdc-notched-outline__leading"></div>
    <div class="mdc-notched-outline__trailing"></div>
  </div>
</div>
<button id="sendEmail" class="sendEmail" onclick="sendEmail(this);">Bewertung absenden</button>
{{ end }}
