<fieldset class="rating">
    <input type="radio" id="q{{ .idx }}-star5" name="q{{ .idx }}-rating" value="5" /><label class = "full" for="q{{ .idx }}-star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="q{{ .idx }}-star4half" name="q{{ .idx }}-rating" value="4 and a half" /><label class="half" for="q{{ .idx }}-star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="q{{ .idx }}-star4" name="q{{ .idx }}-rating" value="4" /><label class = "full" for="q{{ .idx }}-star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="q{{ .idx }}-star3half" name="q{{ .idx }}-rating" value="3 and a half" /><label class="half" for="q{{ .idx }}-star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="q{{ .idx }}-star3" name="q{{ .idx }}-rating" value="3" /><label class = "full" for="q{{ .idx }}-star3" title="Meh - 3 stars"></label>
    <input type="radio" id="q{{ .idx }}-star2half" name="q{{ .idx }}-rating" value="2 and a half" /><label class="half" for="q{{ .idx }}-star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="q{{ .idx }}-star2" name="q{{ .idx }}-rating" value="2" /><label class = "full" for="q{{ .idx }}-star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="q{{ .idx }}-star1half" name="q{{ .idx }}-rating" value="1 and a half" /><label class="half" for="q{{ .idx }}-star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="q{{ .idx }}-star1" name="q{{ .idx }}-rating" value="1" /><label class = "full" for="q{{ .idx }}-star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="q{{ .idx }}-starhalf" name="q{{ .idx }}-rating" value="half" /><label class="half" for="q{{ .idx }}-starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset>